<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="<%= BASE_PATH%>/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>About NHS PhysioHUB</h1>
        <hr><br>
        <h2>The NHS PhysioHub is a web application for physiotherapy clinic management, supporting patient registration, illness reporting, exercise prescription, and treatment tracking</h2>
        <br><hr><br>
        <p>What data exists on the frequency and average duration of patient delays in receiving feedback for non-urgent NHS waiting list items, and how often could partial automation (e.g., automated delivery of standardised advice, such as rehabilitation printouts) mitigate this delay? </p>
        <br><hr><br>
        <h3>Register with us and we will send you personalised online exercises to follow</h3>
        <br><br><br>
        <a href="<%= BASE_PATH%>/">Home</a>
    </body>
</html>