<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <h1>About NHS PhysioHUB</h1>
        <h2>The NHS PhysioHub is a web application for physiotherapy clinic management, supporting patient registration, illness reporting, exercise prescription, and treatment tracking</h2>
        <br>
        <p>register with us and we will send you personalized exercises to follown on internet</p>
        <br>
        <br>
        <h3>What data exists on the frequency and average duration of patient delays in receiving feedback for non-urgent NHS waiting list items, and how often could partial automation (e.g., automated delivery of standardised advice, such as rehabilitation printouts) mitigate this delay? </h3>
        <a href="/">Home</a>
    </body>
</html>