<!DOCTYPE html>
<html>
    <head>
        <title>NHS PhysioHub</title>
        <link rel="stylesheet" href="<%= BASE_PATH%>/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
    <div class="container">
        <h1>NHS PhysioHUB</h1>
        <hr><br>
        <h2>Welcome <br>to the physiotherapy<br>self-practice care</h2><br>
        <hr>
        <br>
        <a href="<%= BASE_PATH%>/about">About</a>
        <a href="<%= BASE_PATH%>/register">Register</a>
        <a href="<%= BASE_PATH%>/login">Login</a>
    </div>
</body>
</html>