<!DOCTYPE html>
<html>
    <head>
        <title>NHS PhysioHub</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <h1>NHS PhysioHUB</h1>
        <p>Welcome to the physiotherapy self-preactice care</p>
        <a href="/about">About</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </body>
</html>