.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
}

.montserrat-bold-header {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    margin: 20px;
    letter-spacing: 0.5px;
    color: white;
    background: linear-gradient(145deg, rgb(0, 188, 209) 0%, rgb(33, 33, 152) 75%, rgb(1, 10, 99) 100%);
    min-height: 100vh;
}

hr {
  border-top: 1px solid rgb(255, 255, 255);
}


h1 {
    font-size: xx-large;
    color: #ffffff;
}

form {
    margin: 20px 0;
}

input, 
textarea, 
select {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    border-radius: 10px;
    display: block;
    margin: 10px 0;
    padding: 14px 25px;
    width: 300px;
}

button {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;

    padding: 14px 25px;
    background: #ff0000;
    border-radius: 10px;
    color: white; 
    border: none;
    font-size: larger;
}

.success {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: green;
    background-color:white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.error {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: rgb(255, 0, 0);
    background-color:white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ff0000;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
  background-color: #b75a5a79;
}
li:nth-child(even) {
  background-color: #ded4d4ad;
}




th { background: #ff0000; }

a:link, a:visited {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 30px 60px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
}
